html,
body {
  background-color: #042722;
  cursor: auto;
  cursor: url(images/smallgif.gif) 4 12, auto;
}

#banger {
  position: fixed;
  top: 8px;
  right: 16px;
}

#title {
  color: #CEFF00;
  font-family: 'Press Start 2P';
  font-size: 60px;
  margin-top: 2%;
}

.navigate {
  position: fixed;
  bottom: 8px;
  left: 16px;
}

.navigate a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 40px;
  color: #FF2929;
}

.outside a {
  text-decoration: none;
  position: fixed;
  bottom: 8px;
  right: 16px;
  font-family: Helvetica;
  font-size: 40px;
  color: #4848ED;
}

.faves {
  display: flex;
  justify-content: flex-start;
}

img {
  margin-top: 5%;
  margin-left: 100px;
  border-radius: 5px;
  flex-direction: row;
  align-self: center;
}


#mysong {
  z-index: +1;
  color: #4848ED;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 10px #CEFF00;
}

#gooff {
  z-index: +1;
  left: 50%;
  color: #FF2929;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 20px;
}

#Im {
  z-index: +1;
  margin-left: 50%;
  color: #4848ED;
  font-family: 'Helvetica';
  font-style: italic;
  font-size: 30px;
}
