html,

body {
  background-color: #FCFCE6;
}

#namecircle{
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: -1;
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
  }

.enter a{
  margin-top: -12%;
  color: black;
  font-family: Helvetica;
  font-size: 100px;
  text-decoration: none;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: +1;
}

.topleft a{
  text-decoration: none;
  color: black;
  font-family: Helvetica;
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.topright{
  color: black;
  font-family: Helvetica;
  font-size: 30px;
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottomleft{
  color: black;
  font-family: Helvetica;
  font-size: 30px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 320px) {
}
