html,

body {
  background-color: #FCFCE6;
}

#namecircle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
  min-height: 200px;
  margin-top: 15%;
  z-index: -1;
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
  }

.enter a{
  color: black;
  font-family: Helvetica;
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  z-index: +1;
}

.topleft{
  color: black;
  font-family: Helvetica;
  font-size: 60px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.topright{
  color: black;
  font-family: Helvetica;
  font-size: 60px;
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottomleft{
  color: black;
  font-family: Helvetica;
  font-size: 60px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 320px) {
}
